<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fit Foodie</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">

  <!-- Latest compiled and minified bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- <link rel="stylesheet" type="text/css" href="Calorie Counter.css"> -->
</head>
<body>
  <!-- header -->
  <header>
    <div id="container">
      <nav>
        <ul id="list">
          <li id="top"><a href="#">Calculate Calories</a></li>
          <li id="top"><a href="#">Saved Meals</a></li>
          <li id="top"><a href="#">About</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!--
  The body includes the top nav bar and the table. The table
  includes the headings, initial 10 input rows, and buttons along with the total calculation.
-->
<section>
  <div class="table-responsive">
    <p id="textSize" align="center" style="color: rgb(254,198,28); font-weight: bold; font-size: 24px">Simply enter the foods you've eaten and the calories per food.</p>
    <p id="textSize" align="center" style="color: rgb(254,198,28); font-weight: bold; font-size: 24px">Then click calculate to see the total calorie count.</p>
<form id="saving" class="" action="/userInput" method="post">
      <table class="table table-curved" id="calTable">
        <thead>
          <tr>
            <th>#</th>
            <th>Foods</th>
            <th>Calories</th>
          </tr>
        </thead>
        <tbody>
          <tr class="active">
            <td>1.</td>
            <td>
              <input name="foodInsertOne" type="text"/>
            </td>
            <td>
              <input class="inputNum" name="foodCalOne" type="number"/>
            </td>
          </tr>
          <tr>
            <td/>
            <td>
              <button type="button" id="Add" onclick="addRow()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true" style="padding: 7px"></span>
              </button>
              <button id="buttonChangeOne" type="button" onclick="reset()">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding: 7px"></span>
              </button>
              <button id="saveButton" type="submit" name="button" onclick="submitIngredients(event)">Save</button>
              <a id="buttonChangeTwo" onclick="totalCalories(event)">Calculate</a>
              <label id="inAll">Total:</label>
            </td>
            <td>
              <input name="numTotal" type="number" id="totalCalories" value="0"></input>
            </td>
          </tr>
        </tbody>
      </table>
        <input hidden id="array" type="text" name="holdArray" value="">
    </form>
  </div>
</section>

<script src="main.js"></script>
</body>
</html>
