body{
  word-wrap:break-word;
  background-image: url("https://cdn.pixabay.com/photo/2016/12/26/17/28/food-1932466_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  width: 60px;
  height: 300px;
}

img{
  width: 100%;
  height: 100%;
}

html {
  font: 16px;
}

.jumbotron.text-center {
  padding: 0px;
  margin: 0%;
  background: #e8c4aac9;
  margin-left: 5%;
      margin-top: 29%;ß
}

.container {
  margin-top: -36px;
}


h1 {
  font-family: cursive;
  font-size: 9rem;
  color: rgb(246,205,0);
}

#titleColor {
  color: rgb(246,205,0);
  font-size: 8rem;
  font-weight: bold;
}

a.btn.btn-default {
  font-size: x-large;
}

.col-sm-6.col-sm-offset-3 {
  padding-top: 146px;
}

label {
  font-size: 4rem;
  color: rgb(246,205,0);
}


input.form-control {
  padding: 25px;
}

button.btn.btn-warning.btn-lg {
  padding: 15px;
  font-size: 3rem;
}

p {
  margin: 0 0 10px;
  font-size: 3rem;
  color: ghostwhite;
}

a {
  color: rgb(96,187,41);
}

input.form-control {
  font-size: 2rem;
}

.table-responsive {
  font-size: 3rem;
}

section {
  width: 30%;
  height: 915px;
  background-color: #442c28d9;
  position: fixed;
  margin-left: 37%;
}

.jumbotron p {
  color: rgb(69,116,7);
  font-weight: normal;
}

#buttonChange, #Add {
  background-color: yellowgreen;
}

#inAll {
  color: yellowgreen;
  font-size: 3rem;
}

#totalCalories {
  font-size: 3rem;
  color: yellowgreen;
}

a#buttonChangeTwo {
    /* width: 3%; */
    /* height: 2px; */
    border: 2px solid black;
    border-radius: 10%;
    padding: 1%;
    background-color: yellowgreen;
    color: white;
}

/* Header/Nav bar ---------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);


h1 {
	font-size: 60px;
	text-align: center;
	color: #FFF;
}

h3 {
	font-size: 30px;
	text-align: center;
	color: #FFF;
}

h3 a {
	color: #FFF;
}

a {
	color: #FFF;
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	font-family: 'Bree Serif', 'serif';
	}

#container {
	margin: 0 auto;
}

p {
	text-align: center;
}

nav {
	margin: 50px 0;
	background-color: #E64A19;
}

nav ul {
	list-style: none;
	position: relative;
	}

nav ul li {
	display:inline-block;
	background-color: #E64A19;
	}

nav a {
	display:block;
	padding:0 10px;
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover {
	background-color: #000000;
}

ul#list {
    margin-top: -2%;
    height: 90px;
    text-align: left;
    padding: 15px;
}


/* codepen Cal Counter -----------------------------------*/

.table-responsive {
  padding-top: 5px;
  width: 600px;
  margin: auto;
  border: none !important;
}

.table-curved {
  border-collapse: separate;
  border: solid white 5px;
  border-radius: 5px;
  background-color: #E6E6E6;
}

table th {
  font-size: 20px;
}

table tr td:first-child {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

table tr td:nth-child(2) {
  /* width: 70%; */
}

table tr td:nth-child(2) input {
  padding: 2px;
  width: 100%;
}

table tr td:nth-child(3) input {
  padding: 2px;
  width: 100%;
}

table tr:last-child td:last-child p {
  padding-top: 3px;
  padding-right: 10px;
  text-align: right;
  font-weight: bold;
  font-size: 20px;
}

input {
  border-radius: 5px;
}

button {
  transition-duration: 0.2s;
  color: white !important;
  background-color: #3C6ED8;
  border: 1px solid black;
  font-size: 16px !important;
  border-radius: 10px;
}

button:hover {
  background-color: white;
  color: black !important;
}

button:focus {
  outline: 0;
}

input[type="button"] {
  transition-duration: 0.2s;
  color: white;
  background-color: #3C6ED8;
  border: 1px solid black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  width: 50% !important;
}

input[type="button"]:hover {
  background-color: white;
  color: black;
}

input[type="button"]:focus {
  outline: 0;
}

label {
  display: inline-block !important;
  width: 90px;
  text-align: right;
  font-size: 19px;

}

/* ========================================== */
